@import "../../styles/variables";

.testimonial {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding: 4em 0em 6em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &[data-toggle="true"] {
    background-color: $col-dark-global;
    color: $col-white;

    .testimonial-card {
      background-color: rgba(255, 255, 255, 0.8);

      &-footer-name-description,
      &-content {
        color: $col-dark;
      }
    }
  }

  &__heading {
    text-transform: capitalize;
    margin-top: 0;

    @include respond(mobile-screen) {
      @include font-size(25px);
    }
  }

  &__subheading {
    @include font-size(20px);
    max-width: 90%;
    margin: 0;
    line-height: 1.8em;
    text-align: start;

    &--container {
      @include flex-justify;
    }

    @include respond(mobile-screen) {
      @include font-size(16px);
      line-height: 32px;
    }
  }

  &-card {
    @include border-radius(8px);
    box-sizing: border-box;
    height: 460px;
    width: 362px;
    padding: 30px 20px 40px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, 0.16);

    @include respond(mobile-screen) {
      height: 420px;
      width: 85%;
      justify-self: center;
      padding: 20px 15px 30px 20px;
    }

    &:hover {
      box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, 0.23);
    }

    &-wrapper {
      height: 480px;
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 5em;
      column-gap: 15px;
      align-self: center;

      @include respond(mobile-screen) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
        height: fit-content;
        margin-top: 3em;
      }

      @include respond(tablet-screen) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2em;
        height: fit-content;
      }
    }

    &-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //   padding-top: 20px;

      & i {
        font-size: 55px;
        transform: rotate(10deg);
        color: #ad2b96;

        @include respond(mobile-screen) {
          font-size: 30px;
        }
      }
    }

    &-content {
      @include font(18px, 300);
      text-align: left;
      line-height: 27px;
      color: #4e4e4e;

      @include respond(mobile-screen) {
        @include font-size(15px);
      }
    }

    &-footer {
      @include flex;
      width: 100%;
      margin-top: auto;

      & button {
        @include flex-justify;
        border: none;
        outline: none;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        @include border-radius(50%);
        background-color: lightgray;
        width: 42px;
        height: 42px;

        & a {
          & img {
            width: 42px;
            height: 42px;
            @include border-radius(50%);
          }

          & i {
            font-size: 20px;
          }
        }
      }

      &-name {
        margin: 0;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        @include font(22px, 400);
        color: $col-dark;

        @include respond(mobile-screen) {
          @include font-size(16px);
        }

        &-box {
          border-left: 1px solid #797979;
          margin-left: 10px;
          padding-left: 5px;
          text-align: left;
        }

        &-description {
          margin: 0;
          @include font(15px, 300);
          color: #4e4e4e;

          @include respond(mobile-screen) {
            @include font-size(14px);
            margin-top: 2px;
          }
        }
      }
    }
  }
}
